@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1920px;
    font-family: "Lato", sans-serif;
}
header{
    background-color: rgba(229, 84, 115, 0.1);
}
.banner{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 97px;
   padding-top: 50px;
}
.banner-content{
    width: 50%;
}
.banner-image{
    width: 44%;
}
.banner-image img{
    width: 100%;
}
.banner-title{
    font-size: 5rem;
    font-weight: 800;
}
.banner-description{
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: rgba(39, 39, 39, 0.6);
    margin: 2rem 0;
}
.btn{
    background-color: #E55473;
    color: #FFFFFF;
    padding: 1.25rem 2.69rem;
    border: none;
    border-radius: 8%;
    font-size: 1.25rem;
    font-weight: 700;
}

  @media screen and (max-width: 1535px) {
    .banner-title{
    font-size: 4rem;
   }
 }
  @media screen and (max-width: 1280px) {
   .banner-description{
    font-size: 1rem;
    margin: 1rem 0;
   }
 }
  @media screen and (max-width: 1024px) {
    .banner-content{
        width: 100%;
    }
    .banner-title{
    font-size: 3rem;
   }
 }
@media screen and (max-width: 768px) {
    .banner{
        flex-direction: column-reverse;
        gap: 40px;
    }
    .banner-content{
        width: 100%;
       text-align: center;
    }
    .banner-title{
    font-size: 3rem;
   }
 }
 @media screen and (max-width: 640px) {
    .banner{
        flex-direction: column-reverse;
        gap: 30px;
    }
 }